<div class="row">
  <div class="col-md-6">
   <a href="" class="btn btn-link">
     <i class="fa fa-arrow-circle-o-left"></i>Atrás 
   </a>
  </div>
 <div class="col-md-6"></div>
</div>
<div class="row">
  <div class="col-md-10 mx-auto mt-2">
    <div class="card-">
      <div class="card-header">Nuevo Servicio</div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" id="titulo" name="titulo">
          </div>
          <div class="form-group">
              <label for="descripcion">descripcion</label>
              <textarea type="text" class="form-control" id="descripcion" name="descripcion"></textarea>
            </div>
            <div class="form-group">
                <label for="Ingredientes">Ingredientes</label>
                <textarea type="text" class="form-control" id="Ingredientes" name="Ingredientes"></textarea>
              </div>
              <div class="form-group">
                  <label for="preparacion">Preparacion</label>
                  <textarea type="text" class="form-control" id="preparacion" name="preparacion"></textarea>
                </div>
                <div class="form-group">
                    <label for="temporada">Temporada</label>
                    <select multiple="" name="temporada" id="temporada" class="form-control">
                      <option>Primavera</option>
                      <option>Verano</option>
                      <option>Otoño</option>
                      <option>Invierno</option>
                    </select>
                   </div>
                   <input type="submit" value="Guardar" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>